{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <h3>Edit Media Type</h3>

    <form action="mediatypes.php" method="post">
      <input type="hidden" name="action" value="updateType">
      <input type="hidden" name="mediaTypeId" value="[[mediaType.getId()]]">
      <div class="row">
        <div class="input-field col s12">
          <input id="extension" type="text" name="extension" value="[[mediaType.getExtension()]]" class="validate" disabled>
          <label for="extension">Extension</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="typeName" type="text" name="typeName" value="[[mediaType.getTypeName()]]" class="validate">
          <label for="typeName">Extension Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select name="template" id="template">
            <option value="" disabled>Choose your option</option>
            {{FOREACH template;[[templates]]}}
              <option value="[[template]]"{{IF [[template]] == [[mediaType.getTemplate()]]}} selected{{ENDIF}}>[[template]]</option>
            {{ENDFOREACH}}
          </select>
          <label for="template">Template to use</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light green" type="submit">Update
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
{%TEMPLATE->struct/foot%}