<footer class="page-footer blue-grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        TODO: write short description here
      </div>
      <div class="col l3 s12">
        <ul>
          <li><a class="white-text" href="https://vitrivr.org">Vitrivr</a></li>
          <li><a class="white-text" href="https://github.com/vitrivr/cineast">Cineast</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <ul>
          <li><a class="white-text" href="https://github.com/s3inlc/cineast-evaluator">Github</a></li>
          <li><a class="white-text" href="admin.php">Admin</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{{IF [[error]] > 0}}
  <script type="text/javascript">
      $(document).ready(function(){
          {{FOREACH message;[[errorMessages]]}}
            Materialize.toast('[[message]]', 4000, 'red');
          {{ENDFOREACH}}
      });
  </script>
{{ENDIF}}

{{IF [[success]] > 0}}
  <script type="text/javascript">
      $(document).ready(function(){
          {{FOREACH message;[[successMessages]]}}
            Materialize.toast('[[message]]', 4000, 'green');
          {{ENDFOREACH}}
      });
  </script>
{{ENDIF}}

{{IF [[DEBUG]]}}
  {{FOREACH entry;[[DEBUG]]}}
    <p>[[entry]]</p><br>
  {{ENDFOREACH}}
{{ENDIF}}

<script type="text/javascript">
  $(document).ready(function() {
      $('select').material_select();
  });
  $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();
      {{IF [[forceOpenHelp]]}}
        $('#helpModal').modal('open');
      {{ENDIF}}
  });
</script>

</body>
</html>