<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        TODO: write short description here
      </div>
      <div class="col l3 s12">
        <ul>
          <li><a class="white-text" href="https://vitrivr.org">Vitrivr</a></li>
          <li><a class="white-text" href="https://github.com/vitrivr/cineast">Cineast</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <ul>
          <li><a class="white-text" href="https://github.com/s3inlc/cineast-evaluator">Github</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{{IF [[error]]}}
  <script type="text/javascript">
      $(document).ready(function(){
          Materialize.toast('[[errorMessage]]', 4000, 'red');
      });
  </script>
{{ENDIF}}

{{IF [[success]]}}
  <script type="text/javascript">
      $(document).ready(function(){
          Materialize.toast('[[successMessage]]', 4000, 'green');
      });
  </script>
{{ENDIF}}

</body>
</html>