<li[[menu.isActive('home')]]><a href="index.php">Home</a></li>
<li><a href="session.php">Play</a></li>
<li[[menu.isActive('faq')]]><a href="faq.php">FAQ</a></li>
<li[[menu.isActive('leaderboards')]]><a href="leaderboards.php">Leaderboards</a></li>
{{IF [[oauth.isLoggedin()]]}}
  <li[[menu.isActive('achievements')]]><a href="achievements.php">Achievements</a></li>
  <li[[menu.isActive('settings')]]><a href="settings.php">My Account</a></li>
  <li[[menu.isActive('logout')]]><a href="logout.php">Logout</a></li>
{{ELSE}}
  <li[[menu.isActive('login')]]><a href="login_select.php">Login</a></li>
{{ENDIF}}