{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="achievement hoverable">
          <div class="achievement-img-container">
            <img src="static/placeholder.png">
          </div>
          <div class="achievement-content-container">
            <div class="achievement-header">
              <span class="achievement-title">Test Achievement 1</span>
            </div>
            <span class="achievement-description">Blublublublub description</span>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="achievement hoverable achieved">
          <div class="achievement-img-container">
            <img src="static/placeholder.png">
          </div>
          <div class="achievement-content-container">
            <div class="achievement-header">
              <span class="achievement-title">Test Achievement 2</span>
            </div>
            <span class="achievement-description">Blublublublub description</span>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="achievement hoverable">
          <div class="achievement-img-container">
            <img src="static/placeholder.png">
          </div>
          <div class="achievement-content-container">
            <div class="achievement-header">
              <span class="achievement-title">Test Achievement 3</span>
            </div>
            <span class="achievement-description">Blublublublub description</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{%TEMPLATE->struct/foot%}