{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <h3>Achievements</h3>
    <div class="row">
      {{FOREACH achievement;[[achievements]]}}
        <div class="col s12 m6">
          <div class="achievement hoverable{{IF [[achieved.getVal([[achievement.getIdentifier()]])]]}} achieved{{ENDIF}}">
            <div class="achievement-img-container">
              {{IF [[achieved.getVal([[achievement.getIdentifier()]])]]}}
                <img src="static/[[achievement.getAchievementImage()]]">
              {{ELSE}}
                [[achievement.getProgress([[oauth.getPlayer()]])]]%
              {{ENDIF}}
            </div>
            <div class="achievement-content-container">
              <div class="achievement-header">
                <span class="achievement-title">[[achievement.getAchievementName()]]</span>
              </div>
              <span class="achievement-description">
                {{IF [[achievement.getIsHidden()]] && ![[achieved.getVal([[achievement.getIdentifier()]])]]}}
                  Hidden...
                {{ELSE}}
                  [[achievement.getDescription()]]
                {{ENDIF}}
              </span>
            </div>
          </div>
        </div>
      {{ENDFOREACH}}
    </div>
  </div>
</main>
{%TEMPLATE->struct/foot%}