{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    {{IF [[login.isLoggedin()]]}}
      <div class="row">
        <h3>Admin Home</h3>
        <a class="btn-large waves-effect waves-light blue" href="session.php" target="_blank">Answer some Questions</a> (Important: These answers will be considered as very certain)<br>
      </div>
    {{ELSE}}
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <!-- placeholder -->
        </div>

        <div class="col s12 m4">
          <h4 class="center"><i class="material-icons">person_pin</i> Login</h4>

          <form action="login.php" method="post" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="username" name="username" type="text" class="validate">
                <label for="username">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" type="password" name="password" class="validate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <button class="btn waves-effect waves-light green" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col s12 m4">
          <!-- placeholder -->
        </div>
      </div>
    {{ENDIF}}
  </div>
</main>
{%TEMPLATE->struct/foot%}