{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 black-text">
        <h3>Disclaimer</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porttitor tellus at mauris lacinia
          vulputate. Etiam consequat elit lorem, ut tristique est gravida et. Aenean tristique nibh diam, a
          maximus
          lacus semper eu. Mauris nec interdum tellus. Donec ultricies viverra mauris id euismod. Suspendisse
          pulvinar
          hendrerit tortor, ut sollicitudin justo consequat ut. Maecenas interdum augue purus, non euismod felis
          mattis vitae. In at eros elit. Sed at tellus at enim dapibus iaculis dapibus a metus. Ut et porttitor
          tortor. Vestibulum placerat cursus metus nec efficitur. Pellentesque fringilla accumsan ipsum, ut
          blandit
          dolor semper vel. Sed ut ipsum hendrerit, tristique dolor vel, fringilla risus. Phasellus rutrum elit
          non
          lectus mollis, ut dictum eros ultrices. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Vivamus et venenatis diam, a eleifend ante.
        </p>

        <p>Proin accumsan sagittis leo et efficitur. Nulla id enim sit amet quam tincidunt laoreet. Praesent
          dictum
          turpis orci, sed aliquam nibh rutrum vitae. Ut sit amet metus vel tellus rutrum molestie id ut augue.
          Mauris
          nulla eros, fringilla et suscipit id, egestas quis enim. In lacinia risus eros, in rutrum enim
          sollicitudin
          eget. Cras eget magna pulvinar, venenatis urna a, volutpat sem. Praesent ut mauris pretium, malesuada
          nunc
          vitae, dapibus nibh. Fusce luctus risus non tristique viverra. Praesent nisl eros, tristique sed rutrum
          a,
          gravida et massa. Aliquam pharetra vulputate elit, at fermentum est facilisis eget. Cras in felis
          rhoncus,
          suscipit justo id, tempus magna.
        </p>

        <p>Proin laoreet erat at ligula consectetur, quis faucibus urna tincidunt. Ut quis ullamcorper ligula,
          quis
          gravida ante. Donec nec tortor viverra, pulvinar risus ut, maximus est. Morbi non vehicula ante.
          Pellentesque tincidunt faucibus lacus at faucibus. Aenean dictum, dolor vitae viverra tempor, arcu nisi
          porta lorem, vitae tempus quam sem nec sapien. Suspendisse potenti. Praesent sit amet accumsan quam.
          Etiam
          ac massa ipsum. Maecenas enim lacus, fermentum id massa in, dapibus vehicula arcu. Nulla cursus, nisi in
          auctor lobortis, massa nisl posuere ligula, euismod gravida metus dolor a erat. Vivamus aliquam lectus
          non
          neque tempor congue.
        </p>

        <p>Curabitur pharetra, elit et auctor feugiat, eros nisl ultrices dui, ac congue elit ipsum non orci. Sed
          lacinia congue ligula eget sollicitudin. Phasellus dictum ante neque, at consectetur libero eleifend
          quis.
          Vestibulum scelerisque risus nec feugiat efficitur. Proin eros eros, auctor at dui nec, ullamcorper
          vehicula
          lorem. Mauris malesuada rutrum metus, sit amet varius quam cursus non. Pellentesque sit amet velit ut
          velit
          tristique porta at ac urna. Quisque id enim laoreet, ornare enim a, faucibus est. Maecenas gravida velit
          erat, a tristique ex consectetur vel. Nam sollicitudin egestas ex, ac eleifend nisl consectetur id. Nam
          bibendum, justo a dignissim consectetur, metus dolor porttitor justo, in finibus tellus libero ac lacus.
          Proin ornare vitae ante non varius.
        </p>

        <p>Ut ullamcorper, urna quis dapibus feugiat, elit ligula feugiat metus, eu dapibus nibh tellus quis urna.
          Nullam scelerisque massa feugiat sodales lobortis. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos. In sed lacus a enim porta accumsan in a magna. Integer sit amet
          felis ut augue venenatis aliquam. Morbi a vestibulum nulla. Pellentesque sit amet neque non libero
          placerat
          ultricies id ac ex. Integer feugiat mattis ipsum sed pharetra. Etiam mattis mollis elit ac consectetur.
          Fusce id nulla tincidunt lectus posuere eleifend porta eget tellus. Sed ut nulla eu nibh dictum rhoncus
          at
          nec sapien. Mauris porttitor sodales lobortis. Praesent fringilla metus non ex bibendum iaculis. Aenean
          id
          luctus velit.
        </p>
      </div>
    </div>
    <div class="row center">
      <form action="session.php" method="post">
        <button type="submit" name="disclaimerAccept" class="btn-large waves-effect waves-light green">I have read the
          disclaimer and I
          accept it
        </button>
      </form>
    </div>
  </div>
</main>
{%TEMPLATE->struct/foot%}