{%TEMPLATE->struct/head%}
{{IF [[showMenu]]}}
  {%TEMPLATE->struct/menu%}
{{ENDIF}}
<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 black-text">
        <h3>Disclaimer</h3>
        <p>
          The content shown on this page has been created by various artists and is used with the permission granted by
          the licence chosen by the content creator. This content has not undergone filtering and may therefore contain
          pieces which are unpleasant, offensive or explicit and not suitable for minors. By continuing you agree that
          you are over the age of 18 years and have the legal right to be presented with such content.
        </p>
      </div>
    </div>
    <div class="row center">
      <form action="session.php" method="post">
        <button type="submit" name="disclaimerAccept" class="btn-large waves-effect waves-light green">I've read the
          disclaimer and accept it
        </button>
      </form>
    </div>
  </div>
</main>
{%TEMPLATE->struct/foot%}