{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    {{IF [[oauth.isLoggedin()]]}}
      <div class="row black-text large center">
        <div class="col s12 m12">
          <h4>Hey [[oauth.getPlayer().getPlayerName()]]</h4>
          <h5>Play some more games to get missing achievements ;)</h5>
        </div>
      </div>
    {{ENDIF}}
    Welcome to Artsimily!
    [insert game description here]
    [insert try-a-game button here]
    To save your highscore, create an account or log in.
    [insert register/login buttons here]
    <div class="row">
      <div class="col s12 m2">
        <!-- placeholder -->
      </div>

      <div class="col s12 m8 center">
        {{IF ![[oauth.isLoggedin()]]}}
          <h2 class="center black-text">Hey, wanna have some fun and play a game?</h2>
        {{ENDIF}}
        <a class="btn-large waves-effect waves-light green" href="session.php">Start</a>
      </div>

      <div class="col s12 m2">
        <!-- placeholder -->
      </div>
    </div>
  </div>
</main>
{%TEMPLATE->struct/foot%}