{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <h3>Welcome to ArtSimily</h3>
    {{IF [[oauth.isLoggedin()]]}}
      <div class="row black-text large center">
        <div class="col s12 m12">
          <h4>Hey [[oauth.getPlayer().getPlayerName()]]</h4>
          <h5>Play some more games to get missing achievements ;)</h5>
        </div>
      </div>
    {{ENDIF}}
    <div class="row">
      <div class="col s12" style="font-size: 1.3em;">
        <b>What is ArtSimily about?</b><br>
        ArtSimily is a game where you try to rate images by their contextual similarity and the "better" your answers
        are, the higher your score will get.<br>
        Start playing with clicking the button below.
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <a class="btn-large waves-effect waves-light green" href="session.php">Play</a>
      </div>
    </div>
  </div>
</main>
{%TEMPLATE->struct/foot%}