{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <div class="row">
      <h4>Game Highscores last 7 days</h4>
      <table class="striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Date</th>
            <th class="right">Score</th>
          </tr>
        </thead>

        <tbody>
        {{FOREACH game;[[weekGames]];counter}}
          <tr>
            <td>[[Util::calculate([[counter]] + 1)]]</td>
            <td><a href="profile.php?id=[[game.getPlayerId()]]">[[Util::getPlayerNameById([[game.getPlayerId()]])]]</a></td>
            <td>[[date("d.m.Y", [[game.getFinishedTime()]])]]</td>
            <td class="right">[[Util::number([[game.getFullScore()]])]]</td>
          </tr>
        {{ENDFOREACH}}
        </tbody>
      </table>

      <h4>Game Highscores</h4>
      <table class="striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Date</th>
            <th class="right">Score</th>
          </tr>
        </thead>

        <tbody>
          {{FOREACH game;[[games]];counter}}
            <tr>
              <td>[[Util::calculate([[counter]] + 1)]]</td>
              <td><a href="profile.php?id=[[game.getPlayerId()]]">[[Util::getPlayerNameById([[game.getPlayerId()]])]]</a></td>
              <td>[[date("d.m.Y", [[game.getFinishedTime()]])]]</td>
              <td class="right">[[Util::number([[game.getFullScore()]])]]</td>
            </tr>
          {{ENDFOREACH}}
        </tbody>
      </table>

      <h4>Game Highscores (Base Score only)</h4>
      <table class="striped">
        <thead>
        <tr>
          <th>Rank</th>
          <th>Player</th>
          <th>Date</th>
          <th class="right">Score</th>
        </tr>
        </thead>

        <tbody>
          {{FOREACH game;[[baseGames]];counter}}
            <tr>
              <td>[[Util::calculate([[counter]] + 1)]]</td>
              <td><a href="profile.php?id=[[game.getPlayerId()]]">[[Util::getPlayerNameById([[game.getPlayerId()]])]]</a></td>
              <td>[[date("d.m.Y", [[game.getFinishedTime()]])]]</td>
              <td class="right">[[Util::number([[game.getGameScore()]])]]</td>
            </tr>
          {{ENDFOREACH}}
        </tbody>
      </table>

      <h4>Total Score</h4>
      <table class="striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th class="right">Score</th>
          </tr>
        </thead>

        <tbody>
          {{FOREACH score;[[totalScore]];counter}}
            <tr>
              <td>[[Util::calculate([[counter]] + 1)]]</td>
              <td><a href="profile.php?id=[[score.getVal('playerId')]]">[[Util::getPlayerNameById([[score.getVal('playerId')]])]]</a></td>
              <td class="right">[[Util::number([[score.getVal('score')]])]]</td>
            </tr>
          {{ENDFOREACH}}
        </tbody>
      </table>
    </div>
  </div>
</main>
{%TEMPLATE->struct/foot%}