{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <div class="row">
      <h3>Leaderboards</h3>

      <h4>Game Highscores</h4>
      <table class="striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th class="right">Score</th>
          </tr>
        </thead>

        <tbody>
          {{FOREACH game;[[games]];counter}}
            <tr>
              <td>[[Util::calculate([[counter]] + 1)]]</td>
              <td>[[Util::getPlayerNameById([[game.getPlayerId()]])]]</td>
              <td class="right">[[game.getFullScore()]]</td>
            </tr>
          {{ENDFOREACH}}
        </tbody>
      </table>

      <h4>Game Highscores (Base Score only)</h4>
      <table class="striped">
        <thead>
        <tr>
          <th>Rank</th>
          <th>Player</th>
          <th class="right">Score</th>
        </tr>
        </thead>

        <tbody>
        {{FOREACH game;[[baseGames]];counter}}
        <tr>
          <td>[[Util::calculate([[counter]] + 1)]]</td>
          <td>[[Util::getPlayerNameById([[game.getPlayerId()]])]]</td>
          <td class="right">[[game.getGameScore()]]</td>
        </tr>
        {{ENDFOREACH}}
        </tbody>
      </table>

      <h4>Total Score</h4>
      <table class="striped">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Player</th>
            <th class="right">Score</th>
          </tr>
        </thead>

        <tbody>
          {{FOREACH score;[[totalScore]];counter}}
            <tr>
              <td>[[Util::calculate([[counter]] + 1)]]</td>
              <td>[[Util::getPlayerNameById([[score.getVal('playerId')]])]]</td>
              <td class="right">[[score.getVal('score')]]</td>
            </tr>
          {{ENDFOREACH}}
        </tbody>
      </table>
    </div>
  </div>
</main>
{%TEMPLATE->struct/foot%}