{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <div class="row">
      <h3>Select Login Provider</h3>
      <div class="col s12 m4">
        <!-- placeholder -->
      </div>

      <div class="col s12 m4 center">
        <div class="col s12 m6">
          <a class="btn-large waves-effect waves-light green" href="login.php?provider=google">Google</a>
        </div>
        <div class="col s12 m6">
          <a class="btn-large waves-effect waves-light blue" href="login.php?provider=facebook">Facebook</a>
        </div>
      </div>

      <div class="col s12 m4">
        <!-- placeholder -->
      </div>
    </div>
  </div>
</main>
{%TEMPLATE->struct/foot%}