{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <h3>[[player.getPlayerName()]]'s Profile</h3>
    <table class="striped">
      <tbody>
        <tr>
          <th>Played Games</th>
          <td>
            [[playedGames]]
          </td>
        </tr>
        <tr>
          <th>Highest base score (rank)</th>
          <td>
            [[highestBase]] ([[baseRank]])
          </td>
        </tr>
        <tr>
          <th>Highest full score (rank)</th>
          <td>
            [[highestFull]] ([[fullRank]])
          </td>
        </tr>
        <tr>
          <th>Total score</th>
          <td>
            [[totalScore]]
          </td>
        </tr>
        <tr>
          <th>Average score per game</th>
          <td>
            [[averageScore]]
          </td>
        </tr>
        <tr>
          <th>Latest Game</th>
          <td>
            {{IF [[latestGame]] == null}}
              N/A
            {{ELSE}}
              Date: [[date("d.m.Y - H:i:s", [[latestGame.getFinishedTime()]])]]<br>
              Base Score: [[Util::number([[latestGame.getGameScore()]])]]<br>
              Full Score: [[Util::number([[latestGame.getFullScore()]])]]
            {{ENDIF}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
{%TEMPLATE->struct/foot%}