{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <div class="row black-text">
      <div class="col s12 m12 center score-text">
        <br><br>Base Score:<br>
        <span class="score-game">[[score.getVal('baseScore')]]</span><br><br>
        <span class="score-bonus">Achievement multiplier: [[score.getVal('multiplicator')]]%</span><br><br><br>
        <span class="score-total">[[score.getVal('totalScore')]]</span><br>
      </div>
      {{IF [[sizeof([[achievements]])]] > 0}}
        <div class="col s12 m12">
          <h3>You reached achievements!</h3>
          {{FOREACH achievement;[[achievements]]}}
            <div class="col s12 m6">
              <div class="achievement hoverable achieved">
                <div class="achievement-img-container">
                  <img src="static/[[achievement.getAchievementImage()]]">
                </div>
                <div class="achievement-content-container">
                  <div class="achievement-header">
                    <span class="achievement-title">[[achievement.getAchievementName()]]</span>
                  </div>
                  <span class="achievement-description">[[achievement.getDescription()]]</span>
                </div>
              </div>
            </div>
          {{ENDFOREACH}}
        </div>
      {{ENDIF}}
    </div>
    {{IF ![[oauth.isLoggedin()]]}}
      <div class="row center">
          <a class="btn-large waves-effect waves-light green" href="login.php?provider=oauth&refer=game">Login with Google and save my game</a>
      </div>
    {{ENDIF}}
    <div class="row center">
      <a class="btn-large waves-effect waves-light blue" href="session.php?refer=game">Start new Game</a>
    </div>
  </div>
</main>
{%TEMPLATE->struct/foot%}