{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <div class="row black-text">
      <div class="col s12 m12 center score-text">
        <br><br>Base Score:<br>
        <span class="score-game">[[Util::number([[score.getVal('baseScore')]])]]</span><br><br>
        <span class="score-bonus">Achievement multiplier: [[score.getVal('multiplicator')]]%</span><br><br><br>
        <span class="score-total">[[Util::number([[score.getVal('totalScore')]])]]</span><br>
      </div>
      {{IF [[sizeof([[achievements]])]] > 0}}
        <div class="col s12 m12">
          <h3>You reached achievements!</h3>
          {{FOREACH achievement;[[achievements]]}}
            <div class="col s12 m6">
              <div class="achievement hoverable achieved">
                <div class="achievement-img-container">
                  <img src="static/[[achievement.getAchievementImage()]]">
                </div>
                <div class="achievement-content-container">
                  <div class="achievement-header">
                    <span class="achievement-title">[[achievement.getAchievementName()]]</span>
                  </div>
                  <span class="achievement-description">[[achievement.getDescription()]]</span>
                </div>
              </div>
            </div>
          {{ENDFOREACH}}
        </div>
      {{ENDIF}}
    </div>
    {{IF ![[oauth.isLoggedin()]]}}
      <div class="row center">
        <a class="btn-large waves-effect waves-light green" href="login.php?provider=google&refer=game">Login with Google and save my game</a>
        <a class="btn-large waves-effect waves-light blue" href="login.php?provider=facebook&refer=game">Login with Facebook and save my game</a>
      </div>
    {{ENDIF}}
    <div class="row center">
      <a class="btn-large waves-effect waves-light blue" href="session.php?refer=game">Start new Game</a>
    </div>
    <div class="row center">
      <a class="twitter-share-button customer share btn-large waves-effect waves-light blue" target="_blank" title="Twitter Share" href="https://twitter.com/intent/tweet?text=I+just+scored+[[Util::number([[score.getVal('totalScore')]])]]+points+on+%40ArtSimily{{IF [[oauth.isLoggedin()]]}}+https%3A%2F%2Fartsimily.com%2Fprofile.php%3Fid%3D[[oauth.getPlayer().getId()]]%26affiliate%3D[[oauth.getPlayer().getAffiliateKey()]]{{ENDIF}}&hashtags=artsimily" data-size="large">Tweet your Success</a>
      <a class="facebook btn-large waves-effect waves-light blue" onclick="fbPopup()" href="http://www.facebook.com/sharer.php?s=100&p[title]=YOUR_TITLE&p[summary]=YOUR_SUMMARY&p[url]=YOUR_URL&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT" title="Facebook Share" target="_blank">Facebook</a>
    </div>
  </div>
</main>
<script type="text/javascript">
    function fbPopup(){
        FB.ui({
            method: 'feed',
            link: 'https://developers.facebook.com/docs/',
            caption: 'An example caption'
        }, function(response){});
    }

    ;(function($){

        /**
         * SOURCE: http://codepen.io/patrickkahl/pen/DxmfG
         *
         * jQuery function to prevent default anchor event and take the href * and the title to make a share popup
         *
         * @param  {[object]} e           [Mouse event]
         * @param  {[integer]} intWidth   [Popup width defalut 500]
         * @param  {[integer]} intHeight  [Popup height defalut 400]
         * @param  {[boolean]} blnResize  [Is popup resizeabel default true]
         */
        $.fn.customerPopup = function (e, intWidth, intHeight, blnResize) {

            // Prevent default anchor event
            e.preventDefault();

            // Set values for window
            intWidth = intWidth || '500';
            intHeight = intHeight || '400';
            strResize = (blnResize ? 'yes' : 'no');

            // Set title and open popup with focus on it
            var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
                strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize,
                objWindow = window.open(this.attr('href'), strTitle, strParam).focus();
        }

      /* ================================================== */

        $(document).ready(function ($) {
            $('.customer.share').on("click", function(e) {
                $(this).customerPopup(e);
            });
        });

    }(jQuery));
</script>
{%TEMPLATE->struct/foot%}