{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <h4>Profile</h4>
    <div class="row">
      <div class="col s12">
        <a class="btn-large waves-effect waves-light green" href="profile.php?id=[[oauth.getPlayer().getId()]]">View Your Profile</a>
      </div>
    </div>

    <h4>Connect your Account</h4>
    <p>You can connect your account with multiple logins on different systems.</p>
    <div class="row">
      <div class="col s12 m3">
        <a class="btn-large waves-effect waves-light{{IF [[activated.getVal('google')]]}} disabled{{ELSE}} green{{ENDIF}}" href="login.php?provider=google">Google</a>
      </div>
      <div class="col s12 m3">
        <a class="btn-large waves-effect waves-light{{IF [[activated.getVal('facebook')]]}} disabled{{ELSE}} blue{{ENDIF}}" href="login.php?provider=facebook">Facebook</a>
      </div>
    </div>

    <h4>Invite other People</h4>
    <p>Invite other people to join [[gameName]] and earn achievements!</p>
    <form action="settings.php" method="post">
      <input type="hidden" name="action" value="invite">
      <div class="row">
        <div class="input-field col s12">
          <input id="invite" type="text" name="email" class="validate">
          <label for="invite">Email Address</label>
        </div>
        <div class="col s12 m3">
          <button class="btn waves-effect waves-light green" type="submit">Invite</button>
        </div>
      </div>
    </form>

    <h4>Change your username</h4>
    <form action="settings.php" method="post">
      <input type="hidden" name="action" value="changeUsername">
      <div class="row">
        <div class="input-field col s12">
          <input id="playerName" type="text" name="playerName" value="[[player.getPlayerName()]]" class="validate">
          <label for="playerName">Change Player Name</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light green" type="submit">Update
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
{%TEMPLATE->struct/foot%}