{%TEMPLATE->struct/head%}
<main style="margin-top: 50px;">
  <div class="container">
    <style>
      .valign-wrapper {
        vertical-align: middle;
      }
    </style>
    <div class="row valign-wrapper" style="height: 100%;">
      <div class="col s12 m6">
        {{FOREACH objectData;[[value1.getVal('objData')]]}}
          {{IF [[value1.getVal('template')]] == "default"}}
            {%TEMPLATE->media/default%}
          {{ENDIF}}
          {{IF [[value1.getVal('template')]] == "image"}}
            {%TEMPLATE->media/image%}
          {{ENDIF}}
        {{ENDFOREACH}}
      </div>
      <div class="col s12 m6">
        {{FOREACH objectData;[[value2.getVal('objData')]]}}
          {{IF [[value2.getVal('template')]] == "default"}}
            {%TEMPLATE->media/default%}
          {{ENDIF}}
          {{IF [[value2.getVal('template')]] == "image"}}
            {%TEMPLATE->media/image%}
          {{ENDIF}}
        {{ENDFOREACH}}
      </div>
    </div>
    <br>
    <div class="row" style="text-align: center;">
      <form action="running.php" method="post">
        <input type="hidden" name="objectId1" value="[[object1.getId()]]">
        <input type="hidden" name="objectId2" value="[[object2.getId()]]">

        <div class="row">
          <input name="group1" type="radio" id="option1">
          <label for="option1">No Similarity</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input name="group1" type="radio" id="option2">
          <label for="option2">Slightly Similar</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input name="group1" type="radio" id="option3">
          <label for="option3">Very Similar</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input name="group1" type="radio" id="option4">
          <label for="option4">Nearly Identical</label>
        </div>

        <div class="row">
          <button class="btn waves-effect waves-light" type="submit">Continue
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
{%TEMPLATE->struct/emptyfoot%}