{%TEMPLATE->struct/head%}
{{IF [[showMenu]]}}
  {%TEMPLATE->struct/menu%}
{{ENDIF}}
<main style="margin-top: 50px;">
  <div class="container">
    <style>
      .valign-wrapper {
        align-items: baseline;
      }
    </style>
    <a class="btn-floating btn-large waves-effect waves-light green right" style="margin-bottom: 10px;" href="#helpModal">Help</a>
    <div class="row valign-wrapper" style="height: 100%;">
      <div class="col m12" style="text-align: center;">
        {{FOREACH objectSource;[[value1.getVal('objData')]]}}
          {{IF [[value1.getVal('template')]] == "default"}}
            {%TEMPLATE->media/default%}
          {{ENDIF}}
          {{IF [[value1.getVal('template')]] == "image"}}
            {%TEMPLATE->media/image%}
          {{ENDIF}}
        {{ENDFOREACH}}
        &nbsp;&nbsp;&nbsp;
        {{FOREACH objectSource;[[value2.getVal('objData')]]}}
          {{IF [[value2.getVal('template')]] == "default"}}
            {%TEMPLATE->media/default%}
          {{ENDIF}}
          {{IF [[value2.getVal('template')]] == "image"}}
            {%TEMPLATE->media/image%}
          {{ENDIF}}
        {{ENDFOREACH}}
      </div>
    </div>
    <br>
    <div class="row" style="text-align: center;">
      <form action="" method="post">
        <input type="hidden" name="objectId1" value="[[object1.getId()]]">
        <input type="hidden" name="objectId2" value="[[object2.getId()]]">

        <b>How similar are these two objects?</b><br><br>

        <div class="row">
          <div class="col s12 m3">
            <button class="btn waves-effect waves-light blue" name="answer" value="0" type="submit">No Similarity</button>
          </div>
          <div class="col s12 m3">
            <button class="btn waves-effect waves-light blue" name="answer" value="1" type="submit">Slightly Similar</button>
          </div>
          <div class="col s12 m3">
            <button class="btn waves-effect waves-light blue" name="answer" value="2" type="submit">Very Similar</button>
          </div>
          <div class="col s12 m3">
            <button class="btn waves-effect waves-light blue" name="answer" value="3" type="submit">Nearly Identical</button>
          </div>
        </div>
      </form>
    </div>
    {{IF [[debug]]}}
      <div class="row">
        {{FOREACH deb;[[debug]]}}
          <p>[[deb]]</p>
        {{ENDFOREACH}}
      </div>
    {{ENDIF}}
    {%TEMPLATE->views/help%}
  </div>
</main>
<!-- [[loadTime]] - [[security]] -->
{{IF [[showMenu]]}}
  {%TEMPLATE->struct/foot%}
{{ELSE}}
  {%TEMPLATE->struct/emptyfoot%}
{{ENDIF}}