<div id="helpModal" class="modal">
  <div class="modal-content">
    <h4>[[GameName]] Help</h4>
    <p>
      {{IF [[showMenu]]}}
        To get a good score in the game you should try to answer the questions as good as possible. You do this by rating how similar the two shown pieces (e.g. images) are.<br>
        At the end of the round your score will be calculated based on how all the other people answered.
      {{ELSE}}
        Rate the two shown pieces (e.g. images) by their similarity. At the end of the survey you will get a code which can be entered as confirmation on the task.
      {{ENDIF}}
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
