{%TEMPLATE->email/struct/head%}
<main>
  <div class="container">
    <div class="row" style="margin-bottom: 50px;">
      <div class="col s12 center" style="font-size: 20px;">
        &nbsp;<br><br>
        You are invited by [[playerName]] to join [[GameName]]!<br>
      </div>
    </div>
    <div class="row" style="margin-bottom: 50px;">
      <div class="col s12 center">
        <a href="[[Domain]]session.php?affiliate=[[affiliateKey]]"><button class="btn-large waves-effect waves-light green">Start Playing</button></a>
      </div>
    </div>
  </div>
</main>
{%TEMPLATE->email/struct/foot%}