{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <h3>Query '[[query.getDisplayName()]]'</h3>

    <table class="striped">
      <tbody>
        <tr>
          <th>ID</th>
          <td>[[query.getId()]]</td>
        </tr>
        <tr>
          <th>Time added</th>
          <td>[[date("d.m.Y - H:i:s", [[query.getTime()]])]]</td>
        </tr>
        <tr>
          <th>Query Object</th>
          <td>
            <a class="btn-floating waves-effect waves-light blue" target="_blank" href="preview.php?object=[[queryObjectId]]"><i class="material-icons">visibility</i></a>
          </td>
        </tr>
        <tr>
          <th>Pruning Session</th>
          <td>
            <a class="btn-large waves-effect waves-light yellow black-text" href="prune.php" target="_blank">Start Prune Session</a><br><br>(Important: what you answer here will be immediately taken as evaluated result and will not be included in the evaluation)
          </td>
        </tr>
      </tbody>
    </table>

    <h5>Results</h5>
    <table class="striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Media Type</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        {{FOREACH result;[[results]]}}
          <tr>
            <td>[[result.getId()]]</td>
            <td>[[Util::getMediaTypeNameForObject([[result.getObjectId2()]])]]</td>
            <td class="right-align">
              <a class="btn-floating waves-effect waves-light blue" target="_blank" href="preview.php?object=[[result.getObjectId2()]]"><i class="material-icons">visibility</i></a>
            </td>
          </tr>
        {{ENDFOREACH}}
      </tbody>
    </table>

  </div>
</main>

{%TEMPLATE->struct/foot%}