{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <h3>Queries</h3>

    <a class="btn-floating btn-large waves-effect waves-light green" href="queries.php?new=true"><i class="material-icons">add</i></a>

    <table class="striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Query Name</th>
          <th>Added by User</th>
          <th>Is completed</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        {{FOREACH query;[[queries]]}}
          <tr>
            <td>[[query.getId()]]</td>
            <td>[[query.getDisplayName()]]</td>
            <td>[[Util::getUsernameById([[query.getUserId()]])]]</td>
            <td>{{IF [[query.getIsClosed()]] == 0}}No{{ELSE}}YES{{ENDIF}}</td>
            <td class="right-align">
              <a class="btn-floating waves-effect waves-light blue" href="queries.php?view=[[query.getId()]]"><i class="material-icons">info</i></a>
            </td>
          </tr>
        {{ENDFOREACH}}
      </tbody>
    </table>

  </div>
</main>

{%TEMPLATE->struct/foot%}