{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <h3>Add Query</h3>

    <form action="queries.php" method="post" enctype="multipart/form-data">
      <input type="hidden" name="action" value="addQuery">
      <div class="row">
        <div class="input-field col s12">
          <input id="queryName" type="text" name="queryName" class="validate">
          <label for="queryName">Query Name</label>
        </div>
      </div>
      <div class="file-field input-field">
        <div class="btn green">
          <span>Query Data (.zip)</span>
          <input type="file" name="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <div class="row">
        <div class="col s12">
        <button class="btn waves-effect waves-light green" type="submit">Add Query
          <i class="material-icons right">send</i>
        </button>
        </div>
      </div>
    </form>

  </div>
</main>

{%TEMPLATE->struct/foot%}