{%TEMPLATE->struct/head%}
{%TEMPLATE->struct/menu%}
<main>
  <div class="container">
    <h3>Microworker Session</h3>

    {{FOREACH session;[[sessions]]}}
      <h4>Answer Session ([[session.getVal('session').getId()]]) ([[sizeof([[session.getVal('answers')]])]] Answers given)</h4>
      {{FOREACH answer;[[session.getVal('answers')]]}}
        <div class="row valign-wrapper" style="height: 100%;">
          <div class="col m12" style="text-align: center;">
            {{FOREACH object;[[answer.getVal('value1').getVal('objData')]]}}
              {{IF [[answer.getVal('value1').getVal('template')]] == "default"}}
                {%TEMPLATE->media/default%}
              {{ENDIF}}
              {{IF [[answer.getVal('value1').getVal('template')]] == "image"}}
                {%TEMPLATE->media/image%}
              {{ENDIF}}
            {{ENDFOREACH}}
            &nbsp;&nbsp;&nbsp;
            {{FOREACH object;[[answer.getVal('value2').getVal('objData')]]}}
              {{IF [[answer.getVal('value2').getVal('template')]] == "default"}}
                {%TEMPLATE->media/default%}
              {{ENDIF}}
              {{IF [[answer.getVal('value2').getVal('template')]] == "image"}}
                {%TEMPLATE->media/image%}
              {{ENDIF}}
            {{ENDFOREACH}}
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l3">
            <button class="btn waves-effect waves-light {{IF [[answer.getVal('answer').getAnswer()]] == 0}}bluew{{ELSE}}grey{{ENDIF}} answer-button">Not Similar</button>
          </div>
          <div class="col s12 m6 l3">
            <button class="btn waves-effect waves-light {{IF [[answer.getVal('answer').getAnswer()]] == 1}}bluew{{ELSE}}grey{{ENDIF}} answer-button">Slightly Similar</button>
          </div>
          <div class="col s12 m6 l3">
            <button class="btn waves-effect waves-light {{IF [[answer.getVal('answer').getAnswer()]] == 2}}bluew{{ELSE}}grey{{ENDIF}} answer-button">Very Similar</button>
          </div>
          <div class="col s12 m6 l3">
            <button class="btn waves-effect waves-light {{IF [[answer.getVal('answer').getAnswer()]] == 3}}bluew{{ELSE}}grey{{ENDIF}} answer-button">Nearly Identical</button>
          </div>
        </div>
        {{IF [[answer.getVal('imageData')]]}}
          <div class="row">
            <img src="[[answer.getVal('imageData')]]" class="responsive-img">
          </div>
        {{ENDIF}}
        <hr>
        <br><br>
      {{ENDFOREACH}}
    {{ENDFOREACH}}
  </div>
</main>

{%TEMPLATE->struct/foot%}